@import url('https://fonts.googleapis.com/css2?family=Mitr');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
    font-family: Mitr;
  background: rgb(240, 234, 234);
}
.head{
  height: 100px;
  display: flex;
  background: linear-gradient(to top, #af4aaa, #380ab6);
}

#search{
  width: 500px;
  margin-left: 220px;
  margin-top: 40px;
}
.head .inf{
  display: flex;
  color: white;
  font-size: 14px;
  margin-top: 30px;
  margin-right: 40px;
}
.head .inf li{
  margin-left: 40px;
  
}
nav {
  top: 0;
  background: linear-gradient(to bottom, #af4aaa, #380ab6);
  height: 50px;
  width: 100%;

  z-index: 9999;
  box-shadow: 1px 5px 8px gray;
}

label.logo {
  color: white;
  font-size: 28px;
  line-height: 50px;
  padding: 0 50px;
}

nav ul {
  float: right;
  margin-right: 370px;
}

nav ul li {
  display: inline-block;
  line-height: 50px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 13px;
  padding: 6px 12px;
  border-radius: 3px;
  
  border-radius: 5px;
  transition: 0.5s;
}

a.active,
a:hover {
  background: white;
  color: slateblue;
}

.banner{
    margin-top: 8px;
    background-size: cover;
    height: 400px;
}
.slider-container {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.slider {
  width: 500%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.slider-dot.active {
  background-color: #333;
}
.featuredProducts{
  text-align: center;
  background: linear-gradient(to bottom, #af4aaa, #380ab6);
  color: white;
  width: 85%;
  margin: 5px auto;
  border-radius: 10px;
}

.container{
  display: flex;
  position: relative;
  width: 90%;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  grid-gap: 20px;
  padding: 30px;
  z-index: 0;
  margin: auto;
}

.container .card{
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
}

.container .card .imgBx{
  position: relative;
  width: 100%;
  height: 300px;
  margin-top: 10px;
  overflow: hidden;
}

.container .card .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.container .card .imgBx:hover img{
  transition: 0.5s;
  transform: scale(1.1);
}

.container .card .content{
  text-align: center;
}

.productName a{
  color: #6b00a8;
}

.container .card .content .price{
  text-align: center;
  color: darkred;
  margin-right: 10px;
  text-align: right;
  font-size: 18px;
}

.container .card .content .original-price{
  text-align: center;
  margin-right: 10px;
  text-align: right;
  font-size: 15px;
}

.rating{
  color: gold;
  text-align: right;
  margin-right: 5px;
}

.action{
  display: flex;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  margin-top: 5px;
}

.action .add-cart{
  width: 50%;
  background: #01aa39;
  color: white;
  border-bottom-left-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.action .add-cart:hover{
  transition: 0.3s;
  background: goldenrod;
}

.action .detail{
  width: 50%;
  background: rgb(1, 82, 85);
  color: white;
  border-bottom-right-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
} 

.action .detail:hover{
  transition: 0.3s;
  background: greenyellow;
  color: #172330;
}



footer {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  margin-top: 40px;
}

.footer-item {
  flex: 1;
  margin-left: 100px;
}

.footer-item h3 {
  font-size: 16px;
  font-weight: bold;
  
}

.footer-item ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0px;
}

.footer-item ul li {
  margin-bottom: 5px;
}

.footer-item ul li>a {
  text-decoration: none;
  font-family: Times New Roman;
  font-size: 15px;
}

.footer-item ul li a img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.footer-item ul li>a:hover{
  color: red;
}
.ft{
  height: 50px;
  background: linear-gradient(to bottom, #af4aaa, #380ab6);
  text-align: center;
  line-height: 50px;
  color: white;
}

.container-single{
  display: flex;
  margin: 30px 100px;
}

.info{
  padding-left: 20px;
}

.image-product img{
  height: 450px;
  width: 500px;
}

.name{
  font-size: 25px;
  color: #172330;
}

.price-single{
  font-size: 20px;
  color: brown;
}

.add-cart-single{
  width: 150px;
  height: 40px;
  line-height: 40px;
  background-color: yellowgreen;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  margin-top: 20px;
  transition: 0.5s;
}

.add-cart-single a{
  color: white;
}

.add-cart-single a:hover{
  transition: 0.5s;
  background-color: goldenrod;
  cursor: pointer;
}

.add-cart-single:hover{
  transition: 0.5s;
  background-color: goldenrod;
  cursor: pointer;
}

.image-cart{
  height: 200px;
  width: 200px;
}

.list{
  background-color: ghostwhite;
}

th{
  background-color:  gainsboro;
  border: 1px solid cadetblue;
}

td{
  border: 1px solid cadetblue;
  text-align: center;
}

.orderinfo{
  margin-left: 20px;
  background-color: ghostwhite;
  padding: 10px;
}

.buy-btn{
  float: right;
  margin-top: 50px;
  height: 40px;
  width: 200px;
  text-align: center;
  line-height: 40px;
  background-color: green;
  border-radius: 5px;
  color: #fff;
}

.buy-btn a{
  color: #fff;
  text-decoration: none;
}

.buy-btn a:hover{
  color: #fff;
  background-color: green;
}

.order{
  width: 100%;
  background-color: ghostwhite;
  padding: 10px;
  border-collapse: collapse;
}

.login{
  margin: 10px auto;
  width: 40%;
}

input[type=text], input[type=password], input[type=email], input[type=number], textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=submit] {
  width: 100%;
  background-color: #0082e6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

.success{
  color: green;
}

.error{
  color: red;
}

del {
  text-decoration: line-through;
}

input[type=number]{
  font-size: 18px;
  width: 100px;
}

.category{
  margin-left: 100px;
  width: 200px;
}

.pagination{
  text-align: center;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}


  